*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0px 30px;
}

#nav h4{
    font-size: 20px;
    font-weight: 300px;
}

#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
}


#center{
    /* height: 40%; */
    width: 100%;
    /* background-color: red; */
    padding: 40px 80px;
}


#center h1{
    font-size: 60px;
    font-weight: 100;
    line-height: 70px;
}

#center-in{
    height: 200px;
    /* background-color: red; */
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#center-in p{
    font-size: 20px;
    font-weight: 20px;
}


#right{
    width: 20%;
}
.elem{
    /* background-color: yellow; */
    
    
    padding: 10px 0;
}

.elem a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.elem{
    border-top: 2px solid black;
}

.elem{
    display: flex;
    justify-content: space-between;
}

.elem i{
    font-size: 30px;
    opacity: 0;
}

.elem:hover i{
    opacity: 1;
}

.elem:hover a{
    text-decoration: underline;
}

#bottom{
    height: 35%;
    width: 100%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1485518882345-15568b007407?q=80&w=1942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}